.root {
    header {
        height: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            height: inherit;
        }
        
        img {
            height: inherit;
        }
    }

    footer {
        position: absolute;
        bottom: 0;
        padding: 12px;
        width: 100%;
        text-align: center;
    }
}