.root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    > header {
        height: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > a {            
            display: flex;
            justify-self: center;
            align-items: center;
            height: inherit;
            position: relative;
        }
        
        img {
            height: inherit;
            position: absolute;
            right: 50%;
            transform: translateX(48px);
        }

        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 4px;
        padding-right: 4px;
        border-bottom: 1px solid var(--light-grey);
    }

    > main { 
        flex: 1;
    }

    > footer {
        height: 48px;
        flex-shrink: 0;
        padding: 12px;
        margin-top: 28px;
        flex-basis: auto;
        text-align: center;
        border-top: 1px solid var(--light-grey);
    }
}