.cartItem {
    display: grid;
    grid-template-columns: 1fr 4fr;
    border-bottom: 1px solid var(--light-grey);
    padding: 24px 0;

    > section {
        align-self: center;
    }

    :has(> ol) {
        display: grid;
    }

    form {
        height: 100%;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    }

    .title {
        font-size: 1.75rem;
        font-weight: bold;
        padding-top: 12px;
    }

    .size {
        font-size: 1.5rem;
        align-self: center;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        :first-child {
            > span {
                font-size: 1.5rem;
                font-weight: 500;    
            }
            
            > div {
                font-size: 1.5rem;
                font-weight: 500;
            }
        }

        :nth-child(2) {
            justify-self: end;
        }
    }

    .itemCartSettings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: flex-end;
    }

    .deleteBtn {
        border: none;
        background-color: white;
        padding-left: 0;
        padding-bottom: 0;
    }

    .price {
        font-weight: bolder;
        font-size: 24px;
        justify-self: end;
        padding: 12px;
    }
}

@media (max-width: 800px) {
    .cartItem {
        grid-template-columns: auto;
        border-bottom: 1px solid var(--light-grey) !important;
        padding: 0;
        margin-bottom: 24px;
        > ol {
            padding: 0;
        }

        > ol > form {
            grid-template-columns: 0.5fr 0.5fr;
            grid-template-rows: 0.5fr 0.5fr;
            gap: 12px;

            .size {
                grid-template-columns: auto;
                gap: 8px;
                
                :nth-child(2) {
                    justify-self: unset;
                }

                > div {
                    display: flex;

                    > button:first-child {
                        margin-left: 0;
                    }
                }

                > div:first-child > span {
                    margin-left: 4px;
                }
            }

            .price {
                padding: 0;
            }

            .deleteBtn {
                justify-self: flex-end;
            }
        }
    }

    :last-child {
        border: none !important;
    }
}