* {
    font-family: 'Satoshi-Variable';
}

:root {
    --black: #010101;
    --light-grey: #f2f0ea;
    --yellow: #edcf5d;
    --dark-grey: #a4a4a4;
}

button {
    all: unset;
    font-weight: bold;
    background-color: var(--black);
    color: var(--light-grey);
    border: 1px solid var(--black);
    border-radius: 3px;
    padding: 8px;
}