USE [master]
GO
/****** Object:  Database [ShoppingCart]    Script Date: 2025-04-14 1:47:25 PM ******/
CREATE DATABASE [ShoppingCart]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShoppingCart', FILENAME = N'/var/opt/mssql/data/ShoppingCart.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShoppingCart_log', FILENAME = N'/var/opt/mssql/data/ShoppingCart_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShoppingCart].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShoppingCart]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2025-04-14 1:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductName] [nvarchar](100) NOT NULL,
	[ProductGender] [nvarchar](50) NULL,
	[ProductImageUri] [nvarchar](256) NOT NULL,
	[ProductPrice] [money] NOT NULL,
	[ProductDesc] [nvarchar](1024) NULL,
	[TimeStamp] [timestamp] NULL,
	[Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebUser]    Script Date: 2025-04-14 1:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebUser](
	[UserEmail] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[UserPassword] [nvarchar](100) NOT NULL,
	[UserFirstName] [nvarchar](100) NULL,
	[UserLastName] [nvarchar](100) NULL,
	[UserCity] [nvarchar](100) NULL,
	[UserStreet] [nvarchar](256) NULL,
	[UserNumber] [int] NULL,
	[UserZip] [nvarchar](6) NULL,
	[UserPhone] [nvarchar](12) NULL,
	[TimeStamp] [timestamp] NULL,
	[Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_WebUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[WebUser] ADD  CONSTRAINT [DF_WebUser_Id]  DEFAULT (newid()) FOR [Id]
GO
USE [master]
GO

USE ShoppingCart
GO
DELETE FROM dbo.Product;

USE	ShoppingCart
GO
INSERT INTO dbo.Product (
	Id,
	ProductName, 
	ProductImageUri,
	ProductPrice,
	ProductDesc,
	ProductGender
) VALUES (
	'9FC8FDB0-F6E9-41A1-930E-6B44D88F4D40',
	'Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops',
	'https://storage.googleapis.com/shopping-cart-bucket/images/81fPKd-2AYL._AC_SL1500_.jpg',
	109.95,
	'Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday',
	'Uni'
);













